#define SSID "WiFiName"
#define WIFI_PASSWORD "password"
#define MQTT_BROKER "mqtt.xyz"
#define MQTT_PORT 8883
#define MQTT_CLIENT_ID "garage"
#define MQTT_LOGIN "user"
#define MQTT_PASSWORD "password"
#define MQTT_WILL_TOPIC "garage/status"
#define MQTT_WILL_MESSAGE "offline"

